* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Arial, sans-serif;
    padding: 0 15px 0 10px;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.box {
    margin: 0 auto;
    width: 600px;
}

.name, 
.registration{
    margin-bottom: 10px;
}

.title {
    margin-bottom: 10px;
}